.button {
	background-color: #F1F3F6;	/* Фон кнпопки */
	border: 1px solid #DBE1E8;	/* Рамка 1px сплошная */
	display: inline-block;
	font: 12px/12px "OpenSansRegular", Arial, Tahoma, sans-serif;
    color: #000;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.button.button-large {
	font-size: 16px;
	line-height: 16px;
	padding: 10px 20px;
}

.button.button-danger {
	color: #fff;
	background-color: #E74C3C;
	border: 1px solid #C1272D;
}

.button:hover {
    box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.3);
}

.button.button-success {
	color: #fff;
	background-color: #7ecd69;
	border: 1px solid #468136;
}

.button.button-cart::before {
	font-family: "FontAwesome";
	content: "\f218";
}