/* Главное меню проекта
-----------------------------------------------------------------------------*/
.main-menu-wrapper  {
	width: 100%;
	background-color: #59b210;
	height: 50px;
	font: 14px/18px "OpenSansBold", sans-serif;
}

.main-menu > li:hover  {
	background-color: #000;
}

/* 1 уровень*/
.main-menu > li {
	float: left;
	position: relative;
	list-style: none;
	border-right: 1px solid #4d9b0e;
}

/* 2 уровень
Элемент позиционируется абсолютно (position:absolute) по отношению к своему родительскому пункту (у которого position:relative), по умолчанию абсолютный элемент позиционируется относительно окна браузера*/
.main-menu > li > ul {
	position: absolute;
	z-index: 10;
}

.main-menu > li > ul a {
	text-decoration: none;
	color: #000;
}

.main-menu > li > ul a:hover {
	background-color: #ccc;
}

.main-menu > li > ul > li {
	display: block;
	list-style: none;
}

.main-menu > li > ul > li > a {
	padding: 15px;
	display: block;
	list-style: none;
	z-index: 10;
	background-color: rgb(255, 255, 255);

}

/*.main-menu ul li:hover {
	background-color: #54a90f;
	cursor: pointer;
}*/

.main-menu > li > a  {
	line-height: 50px;
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 0 25px;
}

/* Скроем влож. п. по умолч. */
.main-menu > li > ul {
	display: none;
}

/* Используем псевдокласс :hover для задания свойств при наведении на элемент списка */
.main-menu > li:hover > ul {
	display: block;
}