.products > div > .product-item {
	border: 1px solid #000;
	border-radius: 5px;
	min-height: 150px;
	padding: 15px;
}

position: absolute;

.padding-20 {
	padding: 10px;
}

@media (max-width: 768px) {
    .leftside {
    	display: none;
    }   
}

.product-item {
	position: relative;
}

.product-item .product-img img {
	width: 100%;
}

.product-item .product-rating {
	height: 16px;
	width: 16px;
	background-image: url("../img/sprite.png");
	background-position: -3px -3px;
	background-repeat: repeat-x;
	float: left;
	margin-right: 10px;
}

.product-item .product-rating:hover{
	background-position: -3px -21px;
	cursor: pointer;
}

.product-item .product-rating.product-rating-1 {
	width: 16px;
}

.product-item .product-rating.product-rating-2 {
	width: 40px;
}

.product-item .product-rating.product-rating-3 {
	width: 64px;
}

.product-item .product-rating.product-rating-4 {
	width: 88px;
}

.product-item .product-rating.product-rating-5 {
	width: 110px;
}

.product-item .product-sale {
	width: 70px;
	height: 70px;
	position: absolute;
	background-image: url("../img/sale.png");
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	margin: 10px;
	font-weight: bold;
	color: #fff;
	z-index: 10;
}

.product-item .product-sale .sale-text {
	display: block;
	margin-top: 14px;
    text-align: center;
    font-size:11px;
}

.product-item .product-sale .sale-value {
	display: block;
	text-align: center;
	font-size: 22px;
}

.product-item .product-img {
	position: relative;
}

.product-item .product-img .product-overlay {
	width: 100%;
	height: 100%;
	position: absolute;

	background-image: url("../img/zoom.png");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;	
}

.product-item .product-img .product-overlay:hover {
	opacity: 0.8;
}


