<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Каталог</title>
	<meta name="description" content="Описание контента страницы"/>
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Стили всплывающих блоков -->
    <link href="css/jquery.webui-popover.css" rel="stylesheet">

    <!-- API Яндекс карт -->
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
</head>

<body>
<!-- BEGIN - Модальное окно выбора региона -->
<div class="modal fade" id="modal-select-region" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Выбор региона</h4>
            </div>
            <div class="modal-body">
                <div class="row regions-container">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END - Модальное окно выбора региона -->

<div id="page" class="wrapper">

	<nav class="top-bar">
		<div class="container">
			<div>
				<ul>
					<li><a href="#">Ссылка</a></li>
					<li><a href="#">Ссылка</a></li>
					<li><a href="#">Ссылка</a></li>
				</ul>
			</div>
			<div class="pull-right">
				<ul>
					<li><a href="#">Ссылка</a></li>
					<li><a href="#">Ссылка</a></li>
					<li><a href="#">Ссылка</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="header">
		<div class="container">
			<strong>Header</strong>

			<div class="user-region text-right">
                <span class="user-region-tooltip">Ваш регион: </span>
                <a href="#" class="user-region-link" data-toggle="modal" data-target="#modal-select-region">не определено</a>
            </div>
		</div>
		
		<!-- Меню первого уровня -->
		<div class="main-menu-wrapper pull-bottom">
			<div class="container">
				<ul class="main-menu">
					<li><a href="#1">Пункт меню 1</a></li>
					<li><a href="#2">Пункт меню 2</a></li>
					<li><a href="#3">Пункт меню 3</a></li>
					<li><a href="#4">Пункт меню 4</a></li>
					<li><a href="#5">Пункт меню 5</a>
						<ul>
							<li><a href="#">Вложенный пункт 1</a></li>
							<li><a href="#">Вложенный пункт 2</a></li>
							<li><a href="#">Вложенный пункт 3</a></li>
							<li><a href="#">Вложенный пункт 4</a></li>
							<li><a href="#">Вложенный пункт 5</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header><!-- .header-->

	<div class="container">
		<div class="row">

			<div class="products">
				<div class="col-lg-3 col-sm-6 col-xs-12 padding-20">
					<aside class="leftside">
					<!-- Меню второго уровня -->
					<div class="left-menu-wrapper">
						<div class="left-menu-title">Категории</div>
						<ul class="left-menu">
							<li>
								<a href="#">Пункт меню 1</a>
								<ul>
									<li><a href="#">Пункт меню 1.1</a></li>
									<li><a href="#">Пункт меню 1.2</a></li>
									<li><a href="#">Пункт меню 1.3</a></li>
									<li><a href="#">Пункт меню 1.4</a></li>
								</ul>
							</li>
							<li><a href="#">Пункт меню 2</a></li>
							<li><a href="#">Пункт меню 3</a></li>
							<li><a href="#">Пункт меню 4</a></li>
							<li><a href="#">Пункт меню 5</a></li>
							<li><a href="#">Пункт меню 6</a></li>
							<li><a href="#">Пункт меню 7</a></li>
						</ul>
					</div>
				</aside><!-- .left-sidebar -->
				</div>
				
				<div id="product-container"></div>

			</div>

		</div>
	</div>

</div>

<footer class="footer">
	<div class="container">
		<div class="copyright">All right reserved © 2016-2017</div>
		<ul class="footer-menu">
			<li><a href="#">Пункт 1</a></li>
			<li><a href="#">Пункт 1</a></li>
			<li><a href="#">Пункт 1</a></li>
			<li><a href="#">Пункт 1</a></li>
		</ul>
	</div>
</footer><!-- .footer -->

	<div id="template-product" style="display: none;">
		
		<div class="col-lg-3 col-sm-3 col-xs-12 padding-20">
			<div class="product-item">
				<div class="product-img">
					<a href="{{ url1 }}">
						<div class="product-overlay"></div>
						<img src="{{ url }}" alt="">
					</a>
				</div>
				<div class="product-title">{{ title }}</div>
				<div class="product-instock">{{ instock }}</div>
				<div class="product-price">{{ price }}</div>
				<div class="product-rating product-rating-5"></div>
				<div class="product-feeds"><a href="#">{{ feeds }}</a></div>
				<div class="product-btn">
					<div class="button button-large button-danger button-cart"> Купить</div>
				</div>
			</div>
		</div>

	</div>

	<!-- 1 сопособ подключения -->
	<script>
		'use strict';

		// примитивные
		var a = 5
			,c = 10;

		window.b = 10;	

		// 1 способ вывода на экран
		// alert(window.a + window.b);

		// 2 способ вывода на экран
		//document.write(window.a + window.b);

		// вывод в консоль
		//console.log("АСА ДГТУ" * "РГСУ");

		// литерал массива
		var myArr = ['РГСУ', 'АСА ДГТУ', 0, 2.5, Infinity, undefined, null, true, [0, 1, 2, 3, 4, 5, 'РГСУ'], [0, 1, 2, 3, 4, 5, 'РГСУ']];


		// литерал объекта
		var myObj = {
			a: 50,
			b: 100,
			sum: function () {
				var a = 7;
				return this.a.toString() + this.b.toString();
			}
		};

		var products = [

			{
				title: 'MacBook Pro',
				'price': 125000,
				isAction: false,
				feeds: ['Супер!', 'Вау!', '!!!']
			},
			{
				title: 'MacBook',
				'price': 43534,
				feeds: ['!!!']
			},
			{
				title: 'аааа',
				'price': 345435,
				isAction: true,
				feeds: []
			}

		];

		console.log(myObj);

	</script>

    <!-- Vendor scripts -->
    <script src="js/vendor/jquery/jquery-2.2.1.min.js"></script>
    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/jquery/jquery.webui-popover.js"></script>

    <!-- Application scripts -->
    <script src="js/app/model/ModelRegions.js"></script>
    <script src="js/app/modules/SelectorRegion.js"></script>
	<script src="js/common.js"></script>
    <script src="js/app/app.js"></script>
</body>
</html>